body, html{
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2fr 1fr 5fr;
    box-shadow: 13px black;
    grid-auto-flow: column;
    gap: 20px;
    background-color: #f1f5f9;
}

.title {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 110px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: bolder;
    text-shadow: 1px 1px gray;
    font-style: italic;
    box-shadow: 0px 3px 3px gray;
}

.bkAddBtn {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #f1f5f9;
}

.submitButton {
    border: 1px solid #f1f5f9;
    background-color: #f1f5f9;
    width: 150px;
    height: 50px;
    font-size: x-large;
    font-weight: bolder;
}

.submitButton:hover {
    background-color: rgb(214, 214, 214);
}

.contentBody{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #f1f5f9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 20px;
}

.bkCard {
    display: grid;
    background-color: white;
    box-shadow: 1px 1px  2px gray;
    justify-content: center;
    padding: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    width: 75%;
    justify-self: center;
}
.bookName {
    grid-column: 1 / 5;
    justify-self: center;
}

.authorName {
    grid-column: 1 / 5;
    justify-self: center;
}

.pages {
    grid-column: 1 / 5;
    justify-self: center;
}

.state {
    display: flex;
    grid-column: 1 / 5;
    background-color: rgb(109, 204, 109);
    color: white;
    width: 99.44%;
    border: 1px solid black;
    height: 100%;
    justify-content: center;
    align-items: center;   
}

.state:hover {
    background-color: red;
}

.rmBtn {
    grid-column: 1 / 5;
    justify-self: center;
    width: 100%;
    height: 40px;
}

footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-color: hotpink;
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 360px;
    gap: 30px;
}

#popUpBtn {
    height: 30px;
}

input {
    height: 35px;
}

dialog {
    border: none;
}

dialog::backdrop {
    background-color: black;
    opacity: .7;
}